<div class="abp-advanced-search">
    <form id="KhachHangsSearchForm" class="form-horizontal row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="Keyword" placeholder="Nhập username hoặc displayname cần tìm" class="form-control txt-search" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="Date" id="date-search" placeholder="Ngày sinh: từ ngày - đến ngày" class="form-control txt-search"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group-prepend">
                <button type="button" class="btn bg-blue btn-search">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>
